---
  BasedOnStyle: Google
  ColumnLimit: '160'
  IndentWidth: '4'
  UseTab: 'Never'
  BreakInheritanceList: AfterColon
  SpaceBeforeCpp11BracedList: false
  SpaceBeforeCtorInitializerColon: true
  SpaceBeforeInheritanceColon: true
  SpaceBeforeRangeBasedForLoopColon: true

  AccessModifierOffset: -4
  AlignAfterOpenBracket: Align
  AlignConsecutiveAssignments: false
  AlignConsecutiveDeclarations: false
  AlignEscapedNewlines: Left
  AlignOperands: true
  AlignTrailingComments: true
  AllowAllParametersOfDeclarationOnNextLine: false
  AllowShortBlocksOnASingleLine: false
  AllowShortCaseLabelsOnASingleLine: false
  AllowShortFunctionsOnASingleLine: None
  AllowShortIfStatementsOnASingleLine: false
  AllowShortLoopsOnASingleLine: false
  AlwaysBreakBeforeMultilineStrings: false
  AlwaysBreakTemplateDeclarations: true
  BinPackArguments: false
  BinPackParameters: false
  BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
  BreakBeforeBinaryOperators: None
  BreakBeforeBraces: Custom
  BreakBeforeInheritanceComma: false
  BreakBeforeTernaryOperators: false
  BreakConstructorInitializers: BeforeColon
  CommentPragmas: '^lint'
  CompactNamespaces: false
  ConstructorInitializerAllOnOneLineOrOnePerLine: true
  ConstructorInitializerIndentWidth: 1
  ContinuationIndentWidth: 2
  Cpp11BracedListStyle: true
  DerivePointerAlignment: false
  FixNamespaceComments: true
  IncludeBlocks: Preserve
  IndentCaseLabels: false
  IndentPPDirectives: AfterHash
  IndentWrappedFunctionNames: true
  KeepEmptyLinesAtTheStartOfBlocks: false
  MaxEmptyLinesToKeep: 1
  NamespaceIndentation: None
  PointerAlignment: Left
  ReflowComments: true
  SortIncludes: true
  SortUsingDeclarations: true
  SpaceAfterCStyleCast: false
  SpaceAfterTemplateKeyword: true
  SpaceBeforeAssignmentOperators: true
  SpaceBeforeParens: Custom
  SpaceBeforeParensOptions:
      AfterControlStatements: true
      AfterFunctionDefinitionName: false
      AfterOverloadedOperator: false
      BeforeNonEmptyParentheses: false
  SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: 2
  SpaceInEmptyParentheses: false
  SpacesBeforeTrailingComments: 1
  SpacesInAngles: false
  SpacesInCStyleCastParentheses: false
  SpacesInContainerLiterals: false
  SpacesInParentheses: false
  SpacesInSquareBrackets: false
  SeparateDefinitionBlocks: Always
  EmptyLineBeforeAccessModifier: LogicalBlock
