---
Checks:
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-void-non-const-global-variables,
  modernize-*,
  -modernize-use-trailing-return-type,
  bugprone-*,
  boost-use-to-string,
  fuchsia-virtual-inheritance,
  google-build-namespaces,
  google-build-using-namespace,
  performance-avoid-endl,
  performance-trivially-destructible,
  readability-avoid-const-params-in-decls,
  readability-avoid-unconditional-preprocessor-if,
  readability-const-return-type,
  readability-container-contains,
  readability-container-data-pointer,
  readability-container-size-empty,
  readability-convert-member-functions-to-static,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-function-size,
  readability-implicit-bool-conversion,
  readability-isolate-declaration,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-access-specifiers,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-reference-to-constructed-temporary,
  readability-simplify-subscript-expr,
  readability-static-definition-in-anonymous-namespace,
  readability-string-compare,
  readability-suspicious-call-argument,
  readability-uniqueptr-delete-release,
  hicpp-signed-bitwise
